body {
  border: 5px solid black;
  font-family: sans-serif;
  line-height: 1.5;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}
.price-product {
  font-style: bold;
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.prod-list {
  list-style-type: square;
}

.add-cart {
  background-color: black;
  color: #f7f7f7;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.add-cart:hover {
  background-color: #fff;
  color: black;
}
