* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
}
.container {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}
.price-product {
  font-style: bold;
  font-size: 24px;
  float: left;
  display: inline-block;
}
h2::after {
  content: "Sale";
  font-size: small;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #ff2f2f;
  display: inline-block;
  padding: 7px 15px;
  top: -17px;
  left: -38px;
  position: absolute;
}
.shipping {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* margin-top: 8px; */
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 15px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  /* float: left; */
  margin-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 3px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  /* clear: both; */
  display: inline-block;
}
.color-black {
  background-color: black;
}
.color-red {
  background-color: #ff0000;
}

.color-green {
  background-color: green;
}

.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yellow;
}
.color-brown {
  background-color: brown;
}

.product-details {
  text-transform: uppercase;
  margin-bottom: 15px;
  /* margin-top: 15px; */
}

.prod-list {
  list-style-type: square;
}
ul {
  margin-left: 25px;
}
.product-description li {
  margin-bottom: 15px;
}

.add-cart {
  background-color: black;
  color: #f7f7f7;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 15px;
}
.add-cart:hover {
  background-color: #fff;
  color: black;
  border-top: 4px solid black;
}
.product-image-sale {
  display: inline-block;
  float: left;

  margin-right: 0, 40px, 0, 0;
}

.price-info {
  float: left;
  /* display: inline-block; */
  padding-left: 10px;
  padding-right: 10px;
  width: 243px;
  margin-top: 15px;
}
.product-description {
  display: inline-block;
  float: right;
  width: 243px;
  margin-top: 15px;
}
.shipping {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.disc {
  font-size: 1rem;
}
strong {
  font-weight: bold;
  /* display: inline-block; */
}
/* @media screen and (max-width: 800px){
  .container{
    width: auto; 
    display: flex;
  
  }
  .price-info{l
    float: none;
  }
  .product-description{
    float: none;
  }
  .add-cart{
    width: auto;
    
  }
  .product-image-sale{
    display: auto;
  }
  .product-title{
    width: 100%;
    /* flex: 1; */

/* } */
/* }  */
