/* Global reset */
* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}
.body-container {
  width: 800px;
  margin-left: auto;
  /* margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}
/* nav a:link {
  font-size: 18px;
} */
nav {
  font-size: 18px;
}
/* test */
article {
  margin-bottom: 60px;
}

body {
  color: #444;
  font-family: sans-serif;
  position: relative;
  /* margin: 0; */
}
.main-header {
  border-top: 10px solid #1098ad;
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* position: relative; */
  /* height: 80px; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}
.post-header {
  margin-bottom: 40px;
}
.post-image {
  border: 5px solid #1098ad2d;
  width: 50%;
  height: auto;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.more-link {
  display: inline-block;
  margin-bottom: 100px;
}

li {
  /* display: inline; */
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
/* footer p {
  font-size: 16px;
} */
#copyright-footer {
  font-size: 16px;
}
/* article header p {
  
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
}
.related-posts-list {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(odd) {
  /* color: rgb(255, 0, 0); */
}
/* this won't work  */
article p:first-child {
  color: #d55f0b;
}

/* styling hyper links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
nav a:link:last-child {
  margin-right: 0;
}

nav a:link {
  /* background-color: orange; */
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

a:visted {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 50px;
  right: 50px;
}

/* resolving conflicts */
#copyright-footer {
  color: #d55f0b;
}
.copyright-footer {
  color: rgb(255, 0, 0);
}

.text {
  color: yellow;
}
footer p {
  color: green !important;
}
